p {
    font-family: monospace;
    font-size: 20px;
    text-align: center;
}
h1 {
    padding: 10px;
    font-family: monospace;
    font-size: 50px;
    text-align: center;
    color: white;
}
h2 {
    font-family: monospace;
    font-size: 30px;
    text-align: center;
}
button {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: #89CFF0;
    color: darkgreen;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    border: none;
}
button:hover {
    transform: scale(0.9);
    background-color: #A0C4D6;
}
img {
    background-color: lightgrey;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
img:hover {
    transform: scale(1.02);
}
input {
    font-family: sans-serif;
    font-size: 20px;
    border-radius: 10px;
}
.container {
    margin: 10vmax auto;
    top: 45%;
    left: 50%;
    width: 50%;
    background-color: lightgrey;
    padding: 10px 10vmax;
    border-radius: 10px;
    text-align: center;
    animation: fadeIn 2s
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 2px;
}
.popup .popuptext {
    visibility: hidden;
    width: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    font-family: sans-serif;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    top: -5%;
    left: 0%;
}
.pagebuttons {
    text-align: center;
    background-color: lightgrey;
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    margin-top: 50px;
    margin: auto;
}
.pagebuttons .disabled{
    transform: scale(0.9);
    background-color: #A0C4D6;
}
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}
.choices-container {
    background-color: lightblue;
    text-align: center;
    color: dimgrey;
}
.choices-container:hover{
    transform: scale(1.1);
    background-color: lightblue;
    text-align: center;
    color: dimgrey;
}
.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}